*{
	margin: 0;
	padding: 0
}
.body{
	width: 1004px;
	margin: auto;
}
.container{
	width: 699px;
	display: inline-block;
	float: left;

}
.content{
	width: 347px;
	float: left;
	margin-right: 2px
}
.content h3{
	font-size: 20px;
	color: black;;
	font-weight: bold;
	margin-bottom: 10px
}
.content h3:hover{
	color: #78b43dba
}
.short-news{
	display: inline-block;
}
.short-news img{
	width: 100px;
	height: 100px;
	float: left;
	margin-right: 20px
}

.short-news-1 span{
	font-size: 10px;
	color: black
}
.news-one{
	background-color:#78b43dba
}
.news-two{
	background-color:  #78b43d
}
.news-three{
	background-color: transparent;
}
.adver {
	width: 340px;
	height: 210px;
	float: left;
	margin-right: 5px
}
.content-right{
	width: 300px;
	float: right;
}
.content-right img{
	width: 300px
}
.news-thitruong h3{
	color: #78b43dba
}
.news-thitruong-short{
	display: inline-block;
	margin-bottom: 5px
}
.news-thitruong-short img{
	width: 150px;
	height: 100px;
	float: left;
	margin-right: 10px
}
.news-thitruong-short p{
	font-size: 15px
}
.news-thitruong h3{
	border-bottom: 2px solid #78b43dba;
	margin-bottom: 4px;
	padding: 2px
}
.tittle {
	color: pink

}
.beatifull h3{
	color: pink;
	border-bottom: 2px solid pink
}
.list{
	text-align: center;
}
.list ul li{
	text-decoration: none;
	padding: 5px 8px;
	background-color: #fff;
	display: inline-block;
	border: 1px solid #00000038
}